<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <div class = "error">
           <p>Oops! Could not find that page.</p>
        </div>
        <%- include('../public/partials/footer') %>
    </body>
</html>