<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <div class="about-us">
            <p>
                This a simple blog website created using MongoDB, Node, Express and a bit of CSS Styling.
            </p>
        </div>
        <%- include('../public/partials/footer') %>
    </body>
</html>