<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <div class="about-us">
            <p class="ab">
                This a simple blog website created using MongoDB, Node, Express and a bit of CSS Styling.
            </p>
        </div>
        <%- include('../public/partials/footer') %>
        <%- include('../public/partials/script') %>
    </body>
</html>