<!DOCTYPE html>
<html lang="en">
    <head>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <% if(user.googleId){ %>
          <form class = "form" action="/guser/blogs" method = "POST">
        <% }else{ %>
          <form class = "form" action="/blogs" method = "POST">
        <% } %>
          
            <label class="input-div">Blog title</label>
              <div >
                <textarea class = "input"type="text" id = "title" name="title" required></textarea>
              </div>
              <label class="input-div">Blog Description</label>
              <div >
                <textarea class = "input1"type="text" id = "main" name="main" required></textarea>
              </div>
              <button class = "submit">Submit</button>
         </form>
        <%- include('../public/partials/footer') %>
    </body>
</html>