<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <%- include('../public/partials/footer') %>
    </body>
</html>