<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" href="/Styles.css">
    </head>
    <body>
        <%- include('../public/partials/navbar') %>
        <div class = "wel">
            <p class = "welcome">Welcome User</p>
        </div>
        <div >
            <button class="create" onclick="window.location.href='/create';">Create Blog</button>
        </div>
        <%- include('../public/partials/footer') %>
    </body>
</html>