html{
  position: relative;
  min-height: 100%;
}

body{
    background: rgb(221, 254, 255);
    overflow: auto;
}
.navbar{
   background: rgb(188, 253, 250);
   display: flex;
   align-items: center;
   border-radius: 1vw;
}
.navbar:hover{
    box-shadow:  2px 1px 2px rgb(197, 197, 197);
}
.nav2{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-left: 25vw;
}
.top{
    font-size:1.35vw;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-right: 2vw;
    align-items: center;
    padding-bottom: 1vh;
    color:rgb(114, 113, 113) ;

}
.top:hover{
    color: rgb(0, 47, 255);
}
.top1{
    font-size:1.35vw;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-right: 2vw;
    align-items: center;
    padding-bottom: 1vh;
    color:rgb(114, 113, 113) ;
    white-space: nowrap;
}
.top1:hover{
    color: rgb(0, 47, 255);
}

.error{
    padding-top: 2vh;
    margin-left: 3vw;
    font-size: x-large;
    text-align: center;
}

.nav{
    text-decoration: none;
    color: inherit;
}
.about-us{
    text-align: center;
    margin-top: 10vh;
    font-size: large;
}
.ab{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.footer{
    position: absolute;
    text-align: center;
}
.copyright{

    margin-left:45vw;
    text-align: center;color:gray;
}
.welcome{
    text-align: center;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.wel{
    margin-top: 10vh;
}
.create{
    justify-content: center;
    margin-left: 44.5vw;
    margin-top: 8vh;
    width: 10vw;
    height: 5vh;
    border-radius: 1.2vh;
    border: none;
   background-color: rgb(238, 238, 238);
   font-size:15px;
   font-weight: 900;
   font-family: 'Montserrat', sans-serif;
}
.create:hover{
    background-color: gainsboro;
    transform: scale(1.02);
    transition-duration: 0.5s;
}

.del{
  margin-top: 50px;
}

.blog-contents{
    margin-left: 3vw;
    margin-top: 3vh;
    text-decoration: none;
    color: inherit;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.empty-contents{
    margin-left: 3vw;
    margin-top: 3vh;
    text-decoration: none;
    color: inherit;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.detail{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    color: blue;

}
.delete{
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;

}
.main{
    margin-top: 3vh;
    width: 30vw;
    background-color: rgb(199, 251, 255);
    text-align: center;
    border-radius: 1vw;
}
.blo{
    padding: 3px;
}
.main:hover{
    box-shadow:  2px 1px 2px rgb(197, 197, 197);
}
.signup{
     align-self: center;
    justify-content: center;
      width: 25vw;
      height: auto;
    margin-top: 22vh;
    margin-left: 35vw;
    background-color:white;
     display: flex;
     border-radius: 2vw;
     padding: 2px;
     font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
 .sign{
     padding: 2px;
      outline: none;
    border-radius: 1vh;
     border-color: gray;
     border-width: 1px;
     width: 15vw;
     height: 3.5vh;
     color: rgb(134, 134, 134);
     font-size: small;
     font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
 }
.submit2{
    justify-self: center;
    margin-left: 5vw;
    height: 5vh;
    width: 5vw;
    border-radius: 1vw;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}
.emailerror{
    font-size: 0.85vw;
    text-align: left;
    padding-bottom: 1vh;
    color: rgb(223, 0, 193);
}
.passworderror{
    font-size: 0.85vw;
    text-align: left;
    padding-bottom: 1vh;
    color: rgb(223, 0, 193);
}
