:root{
    --back:#121212;
    --secondback:#161618;
    --titles:rgb(50, 197, 207);
    --tc:#c2c2c2;
    --content:rgb(131, 224, 224);
    --input:#2f3742;
    --button:white;
    /* rgb(188, 253, 250)
    rgb(50, 197, 207) 
    #364f64*/
}
body{
    background: var(--back);
    overflow: auto;
}
.navbar{
   background: var(--secondback);
   position: absolute;
   top: 0px;
   left: 0px;
   width:100vh;
   display: flex;
   align-items: stretch;
   width: 100%;
   height: fit-content;
}
.nav1{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}
.nav2{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.icon{
    font-size: 100%;
}
.top{
    font-size:1rem;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-right: 2vw;
    align-items: center;
    padding-bottom: 1vh;
    color:var(--tc) ;


}
.top:hover{
    background-color: white;
    transition-duration: 0.5s;
}
.top1{
    font-size:1rem;
    padding-left: 3vw;
    padding-top: 1vh;
    padding-right: 2vw;
    align-items: center;
    padding-bottom: 1vh;
    color:var(--tc) ;
    white-space: nowrap;
}
#ham-item{
    top: 32px;
    display: none;
    z-index: 1000;
}
.hamburger{
    position: fixed;
    right: 10px;
    top: 4px;
    display: none;
    color: var(--tc);
}
@media screen and (max-width: 760px){
    .nav2{
        display: none;
    }
    .hamburger{
        display: inline-block;
    }
}
.error{
    padding-top: 2vh;
    margin-left: 3vw;
    font-size: x-large;
    text-align: center;
}

.nav{
    text-decoration: none;
    color: inherit;
}
.about-us{
    text-align: center;
    margin-top: 10vh;
    font-size: large;
}
.ab{
    color: var(--tc);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
.mode{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom:60px;
    border-radius: 50%;
    font-size: 3vmin;
    background-color: var(--button);
    height: 6vmin;
    width: 6vmin;
    cursor: pointer;
    color: var(--input);
}
.footer{
    padding :10px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background-color: var(--secondback);
    color: var(--tc);
    text-align: center;
}
.copyright{
     
    margin-left:45vw;
    text-align: center;color:var(--tc);
}
.main-home{
    background-color: inherit;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.welcome{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: right;
     font-size: calc(30px + 30 * ((100vmin - 320px) / 680));
    /* max 60px and min 30px*/
    font-family: 'Ubuntu', sans-serif;
    border-right: 4px solid blue;
    width: 50vmin;
    height:45vmin;
    padding-top: 30px;
    padding-right: 20px;
}
.create-home{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 50vmin;
    height:45vmin;
    padding: 20px;
    margin-top: 50px;
}
.text1{
    color:rgb(7, 147, 182);
    margin-bottom: 2vmin;
}
.text2{
    color: blueviolet;
}
.create-home button{
    font-size: 3.5vmin;
    border-radius: 7px;
    background: linear-gradient(90deg,aqua,rgb(0, 119, 255));
    outline: none;
    border: none;
    width:80%;
    height:30%;
    margin-bottom: 20px;
    transition-duration: 0.5s;
}
.create-home button:hover{
    transform: scale(110%);
    transition-duration: 0.5s ;
}
.create{
    border: none;
    background-color: inherit;   
}
.textedit{
    display: flex;
    justify-content: center;
}
.create i{
    color: var(--titles);
}
.create i:hover{
    transform: scale(120%);
    transition-duration: 0.5s;
}
.create-div{
    width:23vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    margin-top: 7vh;
    flex: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
.submit{
    margin-top: 3vh;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bolder;
    font-size: 1em;
}
.input{
    height: 40px;
    width: 75%;
    max-width: 400px;
    overflow:scroll;
    margin-top: 2vh;
    border-radius: 5px;
    background-color: var(--input);
   scrollbar-base-color:rgb(196, 251, 255) ;
    scrollbar-width: thin;
    outline: none;
    padding: 1vw;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    margin-bottom: 30px;
     
}

 .input:focus{
    
     border: none;
     border-bottom: 2px solid rgb(170, 96, 0);
     transition-duration: 0.1s; color: rgb(94, 94, 94);
     font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
 }
.input1{
    height: 50vh;
    width: 90vw;
    overflow:scroll;
    margin-top: 2vh;
    border-radius: 1vw;
    border: none;
    scrollbar-width: thin;
    outline: none;
    padding: 1vw;
    background-color: rgb(199, 251, 255);
    scrollbar-base-color:rgb(196, 251, 255) ;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
.input-div{
    text-align: center;
    padding-bottom: 2vh;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    color:var(--tc);
}
.title{

    font-size: 3.5vmin;
    height:8vmin;
    margin:8px;
    padding: 10px;
    width: 20vw;
    background:var(--titles);
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
}
.blog-contents{
    width: 20vw;
    height: 25vmin;
    margin:8px;
    margin-top: 0px;
    padding: 10px;
    padding-top: 15px;
    text-decoration: none;
    color: inherit;
    font-size: 3vmin;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;

    background:  var(--content);
    border-radius: 0px 0px 5px 5px;
}
.blog-contents a{
    text-decoration: none;
    color:inherit;
    cursor: default;
    pointer-events: none;    
}
.content{
    overflow: hidden;
    word-wrap: break-word;
    height:70%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.blog-container{
    margin-top: 10vh;
    height:120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-bottom: 40px;
}
.blogg{
    transition-duration: 0.5s;
}
.blogg:hover{
    transform: scale(105%);
    transition-duration: 0.5s;
}
.empty-contents{
    margin-left: 3vw;
    margin-top: 3vh;
    text-decoration: none;
    color: inherit;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
.detail{
    display: flex;
    justify-content: space-between;
    font-family: "Ubuntu",'Segoe UI', 'sans-serif';
    padding-bottom: 30px;
    margin-bottom: 10px;
    
}
.detail a{
    text-decoration: none;
    font-style: italic;
    border-bottom:2px dotted; 
    color: black;
}
.main{
    font-size: 3vmin;
    margin-top: 3vh;
    width: 70vw;
    background-color: white;
    border-radius: 1vw;
    padding: 30px;
    box-shadow:  2px 1px 2px rgb(197, 197, 197);
}
.blo-title{
    font-weight: 680;
    padding: 10px;
    text-align: center;
    font-size: inherit;
}
.del{
    display: none;
    margin-top: 3vh;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    height: fit-content;
}
.delete{
    border-radius: 2vh;
    padding: 0.5vw;
    font-family: 'Segoe UI', 'sans-serif';

}
.del:hover{
    cursor: pointer;
    background-color: red;
    transform: scale(110%);
    transition-duration: 0.5;
    color: white;
}
.s{
    position: fixed;
    top: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup{
      width:60%;
      max-width: 270px;
      height: 50vh;
    background-color:var(--input);
    color: var(--tc);
     display: flex;
     border-radius: 8px;
     padding: 2px;
     font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}
 .sign{
     padding: 2px;
      outline: none;
    border-radius: 5px;
    border: none;
    background-color: white;
     border-width: 1px;
     width: 90%;
     height: 5vmin; 
     font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    margin:10px 10px 20px 10px;
    margin-bottom: 20px;
    margin-top: 10px;
 }
 .sign:focus{
     transition-duration: 0.1s;
     border-bottom: 3px solid rgb(170, 96, 0);
 }
.submit2{
    margin-left: auto;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
    background-color: rgb(101, 101, 255);

}
.emailerror{
    font-size: 0.85vw;
    text-align: left;
    padding-bottom: 1vh;
    color: rgb(223, 0, 193);
}
.passworderror{
    font-size: 0.85vw;
    text-align: left;
    padding-bottom: 1vh;
    color: rgb(223, 0, 193);
}
