<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<div class="container">
<span class="mode" onclick="toggle()">
    <i class='fas fa-moon ' id="light"></i>
    <i class='fas fa-sun' id="dark"></i>
</span>
<div class="footer copyright">
        &copy Srijan Majumdar
</div>
</div>