<div class="navbar">
    <div class= "home"><a class = "nav" href="/">HOME</a></div>
    <div class= "about"><a class = "nav" href="/about">ABOUT</a></div>
    <div class= "blogs"><a class = "nav" href="/blogs">BLOGS</a></div>
</div>